export SLACK_SIGNING_SECRET=
export SLACK_CLIENT_ID=
export SLACK_CLIENT_SECRET=
export SLACK_SCOPES=app_mentions:read,channels:history,im:history,chat:write
export SLACK_INSTALLATION_S3_BUCKET_NAME=
export SLACK_STATE_S3_BUCKET_NAME=
export SLACK_LAMBDA_PATH=/default/bolt_py_function