---
sidebar_label: url_verification
title: slack_bolt.middleware.url_verification.url_verification
slug: url_verification
---

## `UrlVerification`

```python
UrlVerification(base_logger=None)
```

Bases: Middleware

Handles url_verification requests.

Refer to https://docs.slack.dev/reference/events/url_verification/ for details.

**Parameters:**

- **base_logger** (Optional[Logger]) – The base logger

### `name`

```python
name: str
```

The name of this middleware.
