name: Run codecov

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.14"]
    permissions:
      contents: read
    env:
      BOLT_PYTHON_CODECOV_RUNNING: "1"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install .
          pip install -r requirements/adapter.txt
          pip install -r requirements/testing.txt
          pip install -r requirements/adapter_testing.txt
      - name: Run all tests for codecov
        run: |
          pytest --cov=./slack_bolt/ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          report_type: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
